<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../static/css/boot.css" th:href="@{css/boot.css}"
	rel="stylesheet" media="screen" />

<head lang="en">

<title>Spring boot Web app</title>

</head>
<body>
	<img alt="boots" src="images/boots.jpg" width="300" 
		th:src="@{images/boots.jpg}"/>
	<h1>Hello</h1>
	<h2>My app</h2>
	<div class="container"></div>
</body>
</html>